$accent: #EE7033;
$general: #00a1e0;
$white: white;
$grey: #7B7772;
$grey-light: #D6D2CE;


// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;

