<div class="lists">
  <div class="row list-wrap" *ngFor="let item of transactions" >
    <div class="col col-sm-1 col-md-2 child"
      style="font-weight: 300"
      [ngStyle]="{ 'border-left': '6px solid ' + item.categoryCode  }" >
      {{ item.dates.valueDate | date: 'MMM. d' }}
    </div>
    <div class="col col-sm-3 col-md-8 child">
      <span>
        <strong>{{ item.merchant.name }}</strong> <br class="display-none-sm" />
        <span style="font-weight: 300" class="display-none-sm">{{ item.transaction.type }}</span>
      </span>
    </div>
    <div class="col col-sm-2 child" style="justify-content: flex-end;"
    [ngStyle]="{ 'color': item.transaction.creditDebitIndicator == 'DBIT'? 'red' : 'green'}">
      <strong><i class="fas fa-euro-sign"></i> 
        <span *ngIf="item.transaction.creditDebitIndicator == 'DBIT'"> - </span> 
        {{ item.transaction.amountCurrency.amount }}</strong>
    </div>
  </div>
</div>
